@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap');
.libre-franklin-myfont {
  font-family: "Libre Franklin", sans-serif;
}
.bg-image{
  background-position: center;
  background-image: url("../../public/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: antiquewhite;
}